{% extends "layout.html" %}
{% block content %}
<h3>Update Details</h3>

<form method="POST">

    <label for="fname">First Name:</label>
    <input type="text" id="fname" name="fname" value="{{ reg.f_name }}" required>
    <br>
    <label for="lname">Last Name:</label>
    <input type="text" id="lname" name="lname" value="{{ reg.l_name }}" required>
    <br>
    <label for="subject">Subject:</label>
    <input type="text" id="subject" name="subject" value="{{ reg.subject }}" required>
    <br>
    <label for="class">Class:</label>
    <input type="text" id="class" name="class" value="{{ reg.class_ }}" required>
    <br>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="{{ reg.title }}" required>
    <br>
    <label for="regfee">Registration_Fees:</label>
    <input type="text" id="regfee" name="regfee" value="{{ reg.registration_fees }}" required>
    <br>
    <label for="comment">Comment:</label>
    <input type="text" id="comment" name="comment" value="{{ reg.comment }}" required>
    <br>
    
    <button type="submit">Save Changes</button>
</form>
     
{% endblock %}
