{% extends "layout.html" %}
{% block content %}
<h5>Fee structure</h5>

<table class="styled-table">
    <thead>
    <tr>
        <th>S #</th>
        <th>Class Name</th>
        <th>Subject</th>
        <th>Category</th>
        <th>Fee Details</th>
        <th>Comment</th>
    </tr> 
    </thead>
    <tbody>
    
    <tr>    
          <td> * </td>
          <td> 10th </td>
          <td>All Subject</td>
          <td> General </td>
          <td>  1000/- </td>
          <td> No specialization </td>
    </tr>
          <tr>    
          <td> * </td>
          <td> 11th </td>
          <td>Maths</td>
          <td> General </td>
          <td>  2000/- </td>
          <td> Computer </td>
    </tr>
          <tr>    
          <td> * </td>
          <td> 11th </td>
          <td>Commerce</td>
          <td> General </td>
          <td>  1500/- </td>
          <td> Business </td>
    </tr>
          <tr>    
          <td> * </td>
          <td> 12th </td>
          <td>All Subject</td>
          <td> General </td>
          <td>  2000/- </td>
          <td> All Subject </td>
    </tr>
    </tbody>    
</table>
{% endblock %}
